.top.ui.borderless.menu {
  background-color: #f7f7f7;
  box-shadow: none;
  border: none;
}

.center.ui.borderless.menu {
  box-shadow: none;
  border: none;
}

.bottom.ui.three.column.grid.container {
  padding-top: 2em;
  padding-bottom: 2em;
}
